body {
	font-size: 18px;
	font-family: helvetica, arial;
}

h1, h2 {
	color: #069a11;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 25px;
}

.main-text {
	text-align: justify;
}

.author-text {
	font-size: 22px;
}